resources/odd/catalog.odd

<?teipublisher output="web"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xmlns:mods="http://www.loc.gov/mods/v3" xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Buddhist Stonesutras: Catalogue</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <pb:behaviour ident="pair" output="web">
                    <pb:param name="key"/>
                    <pb:param name="value"/>
                    <pb:template xmlns="" xml:space="preserve">
                        <div class="entry">
                            <h4>[[key]]</h4>
                            <div>[[value]]</div>
                        </div>
                    </pb:template>
                </pb:behaviour>
                <rendition source="catalog.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2018-09-22+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="catalog" ns="http://exist-db.org/ns/catalog">
                <elementSpec ident="object" mode="add">
                    <modelSequence predicate="$parameters?mode='title'">
            <model behaviour="heading">
                <param name="level" value="3"/>
                <param name="content" value="translate(@xml:id, '_', ' ')"/>
            </model>
            <model behaviour="block">
                <param name="content" value="(header, location/coordinates)"/>
            </model>
        </modelSequence>
                    <model predicate="$parameters?mode=('breadcrumbs','site')" behaviour="block">
            <param name="content" value="header"/>
            <pb:set-param name="site" value="let $id := @xml:id return   collection($global:data-root || '/catalog')/object[.//link[@type='inscription']/@xlink:href=$id]"/>
        </model>
                    <model predicate="$parameters?mode='discussion'" behaviour="block" cssClass="discussion">
            <param name="content" value="references/ref[@value=('discussion') or @type=('discussion')]"/>
        </model>
                    <model predicate="$parameters?mode='references'" behaviour="block">
            <param name="content" value="references"/>
        </model>
                    <modelSequence>
            <model behaviour="inline">
                <param name="facs" value="@xml:id"/>
                <pb:template xmlns="" xml:space="preserve">
                                <img style="display: none" src="api/layout/[[facs]]" class="layout"/>
                            </pb:template>
            </model>
            <model behaviour="inline">
                <param name="content" value="(header/date, physicalDescription, location)"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="header" mode="add">
                    <modelSequence predicate="$parameters?mode='site'">
            <model behaviour="inline">
                <param name="site" value="(title[@*:lang='zh'], ' ', title[@*:lang='en'])"/>
                <param name="province" value="(province[@*:lang='zh'], ' ', province[@*:lang='en'])"/>
                <param name="app" value="$parameters?app"/>
                <pb:template xmlns="" xml:space="preserve"><span class="breadcrumbs">
  <a class="province" href="[[app]]index.html">[[province]]</a> &gt;
  <span class="site">[[site]]</span>
</span></pb:template>
            </model>
        </modelSequence>
                    <modelSequence predicate="$parameters?mode='breadcrumbs'">
            <model behaviour="inline">
                <param name="province" value="($parameters?site/header/province[@lang='zh'], ' ', $parameters?site/header/province[@lang='en'])"/>
                <param name="site" value="($parameters?site/header/title[@lang='zh'], ' ', $parameters?site/header/title[@lang='en'])"/>
                <param name="id" value="$parameters?app || &#34;sites/&#34; || $parameters?site/@xml:id"/>
                <param name="app" value="$parameters?app"/>
                <pb:template xmlns="" xml:space="preserve"><span class="breadcrumbs">
  <a class="province" href="[[app]]index.html">[[province]]</a> &gt;
  <span class="site"><a href="[[id]]">[[site]]</a></span> &gt;
</span></pb:template>
            </model>
            <model behaviour="inline">
                <param name="content" value="replace(ancestor::object/@xml:id, '^([^_]+)_([^_]+).*$', '$1 $2')"/>
            </model>
        </modelSequence>
                    <model predicate="$parameters?mode='title'" behaviour="link">
            <param name="content" value="(head((title[@*:lang='zh'][@type='abbreviated'], title[@*:lang='zh'])), head((title[@*:lang='en'][@type='abbreviated'], title[@*:lang='en'])))"/>
            <param name="link" value="&#34;../inscriptions/&#34; || ancestor::object/@xml:id"/>
        </model>
                    <model behaviour="block">
            <param name="content" value="(title[@*:lang='zh'], title[@*:lang='en'], physicalDescription)"/>
        </model>
                </elementSpec>
                <elementSpec ident="title" mode="add">
                    <model predicate="$parameters?mode=('breadcrumbs', 'site') and @lang='zh'" behaviour="inline">
            <outputRendition xml:space="preserve" scope="after">
            content: ' ';
            </outputRendition>
            <outputRendition xml:space="preserve">
            font-size: 16px; line-height: 24px; font-weight: 400;
            </outputRendition>
        </model>
                    <model predicate="$parameters?mode=('breadcrumbs', 'site')" behaviour="inline"/>
                    <model predicate="$parameters?mode='title'" behaviour="heading">
            <param name="level" value="4"/>
        </model>
                    <model behaviour="heading">
            <param name="level" value="1"/>
            <outputRendition xml:space="preserve">
            font-family: "Oswald","Noto Sans", Verdana,"Helvetica",sans-serif; color: #a69933;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="date" mode="add">
                    <model predicate="gregorian/point/text() != &#34;&#34;" behaviour="block">
            <desc>with gregorian date</desc>
            <param name="gregorian" value="(gregorian[@type=&#34;case-date-point&#34;])"/>
            <param name="original" value="original"/>
            <param name="given" value="given"/>
            <pb:template xmlns="" xml:space="preserve">
                            <h3>斷代 Date</h3>
                            <table>
                                <tr>
                                    <td>公曆 Gregorian:</td>
                                    <td>[[gregorian]] </td>
                                </tr>
                                <tr>
                                    <td>[[original]]</td>
                                    <td>[[given]]</td>
                                </tr>
                            </table>
    </pb:template>
        </model>
                    <model predicate="gregorian/range/@lower != &#34;&#34;" behaviour="block">
            <desc>with gregorian range</desc>
            <param name="lower" value="gregorian/range/@lower"/>
            <param name="original" value="original"/>
            <param name="upper" value="gregorian/range/@upper"/>
            <param name="given" value="given"/>
            <pb:template xmlns="" xml:space="preserve">
                            <h3>斷代 Date</h3>
                            <table>
                                <tr>
                                    <td>公曆 Gregorian:</td>
                                    <td>[[lower]] - [[upper]] </td>
                                </tr>
                                <tr>
                                    <td>[[original]]</td>
                                  <td>[[given]]</td>
                                </tr>
                            </table>
    </pb:template>
        </model>
                    <model behaviour="block">
            <desc>without original date</desc>
            <param name="given" value="given"/>
            <param name="original" value="original"/>
            <pb:template xmlns="" xml:space="preserve">
                            <h3>斷代 Date</h3>
                            <table>                                
                                [[original]]
                                [[given]]
                            </table>
    </pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="physicalDescription" mode="add">
                    <modelSequence>
            <model behaviour="heading">
                <param name="content" value="'概况 Physical Description'"/>
                <param name="level" value="3"/>
            </model>
            <model behaviour="block">
                <param name="content" value="(condition, format, frame, grid, decor, polishing, technique)"/>
            </model>
            <model behaviour="block">
                <param name="content" value="(dimensions)"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="dimensions" mode="add">
                    <model predicate="@height != ''" behaviour="block">
            <param name="height" value="@height"/>
            <param name="width" value="@width"/>
            <pb:template xmlns="" xml:space="preserve">
                            <h3>面積 Overall Dimensions</h3>
                            <table>
                                <tr>
                                    <td>高 Height:</td>
                                    <td>[[height]] cm</td>
                                </tr>
                                <tr>
                                    <td>寬 Width:</td>
                                    <td>[[width]] cm</td>
                                </tr>
                            </table>
                        </pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="condition" mode="add">
                    <model behaviour="pair">
            <param name="key" value="'現狀 Condition'"/>
            <param name="value" value="(label[@xml:lang='zh'], label[@xml:lang='en'])"/>
        </model>
                </elementSpec>
                <elementSpec ident="label" mode="add">
                    <model predicate="@xml:lang='zh'" behaviour="inline">
            <outputRendition xml:space="preserve" scope="after">
            content: ' ';
            </outputRendition>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="location" mode="add">
                    <model behaviour="block">
            <param name="latitude" value="tokenize(//coordinates[@srsName=&#34;EPSG:4326&#34;], '\s*,\s*')[2]"/>
            <param name="azimuth" value="@azimuth/string()"/>
            <param name="zenith" value="@zenith/string()"/>
            <param name="slope" value="@slope/string()"/>
            <param name="longitude" value="tokenize(//coordinates[@srsName=&#34;EPSG:4326&#34;], '\s*,\s*')[1]"/>
            <param name="ident" value="translate(ancestor::object/@xml:id, '_', ' ')"/>
            <pb:template xmlns="" xml:space="preserve">
                            <h3>石面傾斜度 Inclination of Surface</h3>
                            <table>
                                <tr>
                                    <td>方位角 Azimuth angle:</td>
                                    <td>[[azimuth]] °</td>
                                </tr>
                                <tr>
                                    <td>曲面法綫天頂角 Zenith angle of surface normal:</td>
                                    <td>[[zenith]]°</td>
                                </tr>
                                <tr>
                                    <td>曲面法綫坡角 Slope angle of surface normal:</td>
                                    <td>[[slope]]°</td>
                                </tr>
                            </table>
                            <pb-geolocation latitude="[[latitude]]" longitude="[[longitude]]" label="[[ident]]" emit="catalog"/></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="coordinates" mode="add">
                    <model predicate="not(@srsName=&#34;EPSG:4326&#34;)" behaviour="omit"/>
                    <model predicate="$parameters?mode='title' and text()" behaviour="pass-through">
            <param name="latitude" value="tokenize(., '\s*,\s*')[2]"/>
            <param name="longitude" value="tokenize(., '\s*,\s*')[1]"/>
            <param name="ident" value="translate(ancestor::object/@xml:id, '_', ' ')"/>
            <pb:template xmlns="" xml:space="preserve"><pb-geolocation latitude="[[latitude]]" longitude="[[longitude]]" label="[[ident]]" emit="catalog"/></pb:template>
        </model>
                    <model predicate="text()" behaviour="block">
            <param name="height" value="@height"/>
            <param name="latitude" value="tokenize(., '\s*,\s*')[2]"/>
            <param name="longitude" value="tokenize(., '\s*,\s*')[1]"/>
            <param name="ident" value="translate(ancestor::object/@xml:id, '_', ' ')"/>
            <pb:template xmlns="" xml:space="preserve">
                            <h3>方位 Coordinates of Position</h3>
                            <table>
                                <tr>
                                    <td>高 Height:</td>
                                    <td>[[height]] m</td>
                                </tr>
                                <tr>
                                    <td>東向 Easting:</td>
                                    <td>[[latitude]]°</td>
                                </tr>
                                <tr>
                                    <td>北向 Northing:</td>
                                    <td>[[longitude]]°</td>
                                </tr>
                            </table>
                            <pb-geolocation latitude="[[latitude]]" longitude="[[longitude]]" label="[[ident]]" emit="catalog"/></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="province" mode="add"/>
                <elementSpec ident="format" mode="add">
                    <model behaviour="pair">
            <param name="key" value="'形制 Format'"/>
            <param name="value" value="(label[@xml:lang='zh'], label[@xml:lang='en'])"/>
        </model>
                </elementSpec>
                <elementSpec ident="frame" mode="add">
                    <model behaviour="pair">
            <param name="key" value="'邊框 Frame'"/>
            <param name="value" value="(label[@xml:lang='zh'], label[@xml:lang='en'])"/>
        </model>
                </elementSpec>
                <elementSpec ident="grid" mode="add">
                    <model behaviour="pair">
            <param name="key" value="'界格 Grid'"/>
            <param name="value" value="(label[@xml:lang='zh'], label[@xml:lang='en'])"/>
        </model>
                </elementSpec>
                <elementSpec ident="decor" mode="add">
                    <model behaviour="pair">
            <param name="key" value="'紋飾 Decor'"/>
            <param name="value" value="(label[@xml:lang='zh'], label[@xml:lang='en'])"/>
        </model>
                </elementSpec>
                <elementSpec ident="polishing" mode="add">
                    <model behaviour="pair">
            <param name="key" value="'磨光 Polishing'"/>
            <param name="value" value="(label[@xml:lang='zh'], label[@xml:lang='en'])"/>
        </model>
                </elementSpec>
                <elementSpec ident="technique" mode="add">
                    <model behaviour="pair">
            <param name="key" value="'刻法 Technique'"/>
            <param name="value" value="(label[@xml:lang='zh'], label[@xml:lang='en'])"/>
        </model>
                </elementSpec>
                <elementSpec ident="references">
                    <model behaviour="block">
            <param name="rubbing" value="rubbing"/>
            <param name="illustration" value="ref[@value='illustration']"/>
            <param name="transcription" value="ref[@value='transcription']"/>
            <param name="taisho" value="ref[@type=('taisho')]"/>
            <pb:template xmlns="" xml:space="preserve">
<table>
  <tr>
    <td>
      <h3>拓本 Rubbings </h3>
    </td>
  </tr>
  <td>[[rubbing]]</td>
  <tr>
    <td>
      <h3>圖示 Illustrations</h3>
    </td>
  </tr>
    <td>[[illustration]]</td>
  <tr>
    <td><h3>録文 Transcriptions</h3></td>
  </tr>
    <td>[[transcription]]</td>
  <tr>
    <td><h3>大正藏 Taishō</h3></td>
  </tr>
    <td>[[taisho]]</td>

</table>
</pb:template>
            <outputRendition xml:space="preserve">
            null
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="ref">
                    <model predicate="@value='discussion' or @type='discussion'" behaviour="template">
            <param name="sigle" value="let $target := @xlink:href return (collection($global:data-root || '/biblio')/mods:mods[@ID = $target]/mods:titleInfo[@type = 'reference']/string(), '???')[1] =&gt; normalize-space()"/>
            <param name="pages" value="pages/string()"/>
            <param name="content" value="(note[@*:lang='zh'], head((note[@*:lang='en'], note[not(@*:lang)])))"/>
            <param name="target" value="ref[@xlink:href]"/>
            <pb:template xmlns="" xml:space="preserve"><dt>
  <pb-popover placement="right" remote="https://sutras.adw.uni-heidelberg.de/exist/apps/stonepub/modules/bibliohtml.xql?id=[[target]]"><span class="sigle" style="font-variant: small-caps;">[[sigle]]</span></pb-popover>, [[pages]]</dt>
<dd>[[content]]</dd>
<br/></pb:template>
            <outputRendition xml:space="preserve">
            null
            </outputRendition>
        </model>
                    <model behaviour="template">
            <param name="sigle" value="let $target := @xlink:href return (collection($global:data-root || '/biblio')/mods:mods[@ID = $target]/mods:titleInfo[@type = 'reference']/string(), '???')[1] =&gt; normalize-space()"/>
            <param name="pages" value="pages/string()"/>
            <param name="content" value="(note[@*:lang='zh'], head((note[@*:lang='en'], note[not(@*:lang)])))"/>
            <param name="target" value="@xlink:href"/>
            <pb:template xmlns="" xml:space="preserve"><dt>
  <pb-popover placement="right" remote="https://sutras.adw.uni-heidelberg.de/exist/apps/stonepub/modules/bibliohtml.xql?id=[[target]]"><span class="sigle" style="font-variant: small-caps;">[[sigle]]</span></pb-popover>, [[pages]]</dt>
<dd>[[content]]</dd>
<p/></pb:template>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model>
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="note">
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="tei:ref" mode="add">
                    <model predicate="@type='biblio'" behaviour="link">
            <param name="content" value="let $target := @target return collection($global:data-root || '/biblio')/mods:mods[@ID = $target]/mods:titleInfo[@type = 'reference']/string()"/>
            <param name="link" value="'https://stonesutras.org/bibliography.html?search=' || (let $target := @target return collection($global:data-root || '/biblio')/mods:mods[@ID = $target]/mods:titleInfo[@type = 'reference']/string())"/>
            <outputRendition xml:space="preserve">
            font-variant: small-caps;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="tei:p" mode="add">
                    <model behaviour="paragraph"/>
                </elementSpec>
                <elementSpec ident="tei:hi" mode="add">
                    <model predicate="@rend='bold'" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="tei:anchor">
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="tei:foreign">
                    <model behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="original" mode="add">
                    <model predicate="text() != &#34;&#34;" behaviour="pass-through">
            <pb:template xmlns="" xml:space="preserve"><tr>
    <td>原始 Original:</td>
    <td>[[content]]</td>
</tr></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="given" mode="add">
                    <model predicate="@source != &#34;&#34;" behaviour="pass-through">
            <param name="source" value="@source"/>
            <pb:template xmlns="" xml:space="preserve"><tr>
    <td>給定 Given:</td>
    <td>[[content]]</td>
</tr>
<tr>
    <td>來源 Source:</td>
    <td>[[source]]</td>
</tr></pb:template>
        </model>
                    <model predicate="text()" behaviour="pass-through">
            <pb:template xmlns="" xml:space="preserve"><tr>
    <td>給定 Given:</td>
    <td>[[content]]</td>
</tr></pb:template>
        </model>
                </elementSpec>
            <elementSpec ident="rubbing" mode="add">
                    <model behaviour="block">
            <param name="note_zh" value="note[@xml:lang=&#34;zh&#34;]"/>
            <param name="note_en" value="note[@xml:lang=&#34;en&#34;]"/>
            <pb:template xmlns="" xml:space="preserve">
<tr>
  <td>[[note_zh]]</td>
</tr>
<tr>
  <td>[[note_en]]</td>
</tr>
<tr>
  <td><p/></td>
</tr>



</pb:template>
        </model>
                </elementSpec>
            <elementSpec ident="tei:l" mode="add">
                    <model behaviour="block">
            <outputRendition xml:space="preserve">
            padding-left: 2em
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="tei:lg" mode="add">
                    <model behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="tei:note" mode="add">
                    <model predicate="parent::tei:l" behaviour="inline" cssClass="space">
            <desc>note in the list</desc>
            <pb:template xmlns="" xml:space="preserve"><span>[[content]]</span></pb:template>
            <outputRendition xml:space="preserve">
            font-size: 0.9em;
            </outputRendition>
        </model>
                    <model behaviour="inline">
            <desc>note in the text</desc>
            <pb:template xmlns="" xml:space="preserve"><span>[[content]]</span></pb:template>
            <outputRendition xml:space="preserve">
            font-size: 0.9em;
            </outputRendition>
        </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>