resources/odd/catalog.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Buddhist Stonesutras: Catalogue</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition selector="h3">
                    font-family: "Oswald","Noto Sans", Verdana,"Helvetica",sans-serif;
                    font-weight: 400;
                    margin-top: 20px;
                    margin-bottom: 10px;
                </rendition>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2018-09-22+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="catalog" ns="http://exist-db.org/ns/catalog"> <elementSpec ident="object" mode="add">
                    <modelSequence predicate="$parameters?mode='title'">
            <model behaviour="heading">
                <param name="level" value="3"/>
                <param name="content" value="translate(@xml:id, '_', ' ')"/>
            </model>
            <model behaviour="block">
                <param name="content" value="header"/>
            </model>
        </modelSequence>
                    <model predicate="$parameters?mode='breadcrumbs'" behaviour="block">
            <param name="content" value="header"/>
        </model>
                    <model behaviour="inline">
            <param name="content" value="(physicalDescription, location)"/>
        </model>
                </elementSpec>
                <elementSpec ident="header" mode="add">
                    <modelSequence predicate="$parameters?mode='breadcrumbs'">
            <model behaviour="inline">
                <param name="content" value="let $site := substring-before(../@xml:id, '_') let $c := collection(&#34;/db/catalog&#34;)/id($site) return (  $c/header/province[@lang='zh'], ' ',       $c/header/province[@lang='en'], ' &gt; ',     $c/header/title[@lang='zh'], ' ',      $c/header/title[@lang='en'],     ' &gt; ' )"/>
            </model>
            <model behaviour="inline">
                <param name="content" value="(title[@*:lang='zh'], title[@*:lang='en'])"/>
            </model>
        </modelSequence>
                    <model predicate="$parameters?mode='title'" behaviour="link">
            <param name="content" value="(title[@*:lang='zh'], title[@*:lang='en'])"/>
            <param name="link" value="$parameters?doc"/>
        </model>
                    <model behaviour="block">
            <param name="content" value="(title[@*:lang='zh'], title[@*:lang='en'], physicalDescription)"/>
        </model>
                </elementSpec>
                <elementSpec ident="title" mode="add">
                    <model predicate="$parameters?mode='breadcrumbs' and @lang='zh'" behaviour="inline">
            <outputRendition scope="after">
            content: ' ';
            </outputRendition>
            <outputRendition>
            
            font-size: 16px;
line-height: 24px;
font-weight: 400;
            
            </outputRendition>
        </model>
                    <model predicate="$parameters?mode='breadcrumbs'" behaviour="inline">
            <outputRendition>
            
            font-size: 16px;
line-height: 24px;
font-weight: 400;
            
            </outputRendition>
        </model>
                    <model predicate="$parameters?mode='title'" behaviour="heading">
            <param name="level" value="3"/>
        </model>
                    <model behaviour="heading">
            <param name="level" value="1"/>
            <outputRendition>
            
            font-family: "Oswald","Noto Sans", Verdana,"Helvetica",sans-serif;
color: #a69933;
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="physicalDescription" mode="add">
                    <modelSequence>
            <model behaviour="heading">
                <param name="content" value="'概况 Physical Description'"/>
                <param name="level" value="3"/>
            </model>
            <model behaviour="block">
                <param name="content" value="(condition, format, dimensions)"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="dimensions" mode="add">
                    <modelSequence predicate="@height != ''">
            <model behaviour="heading">
                <param name="content" value="'面積 Overall Dimensions'"/>
                <param name="level" value="3"/>
            </model>
            <model behaviour="block">
                <param name="content" value="('高 Height: ', @height, ' cm')"/>
            </model>
            <model behaviour="block">
                <param name="content" value="('寬 Width: ', @width, ' cm')"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="condition" mode="add">
                    <model behaviour="block">
            <param name="content" value="('現狀 Condition: ', label[@xml:lang='zh'], label[@xml:lang='en'])"/>
        </model>
                </elementSpec>
                <elementSpec ident="label" mode="add">
                    <model predicate="@xml:lang='zh'" behaviour="inline">
            <outputRendition scope="after">
            content: ' ';
            </outputRendition>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="location" mode="add">
                    <model behaviour="block">
            <param name="content" value="(coordinates[@srsName=&#34;EPSG:4326&#34;])"/>
        </model>
                </elementSpec>
                <elementSpec ident="coordinates" mode="add">
                    <modelSequence>
            <model behaviour="heading">
                <param name="content" value="'方位 Coordinates of Position'"/>
                <param name="level" value="3"/>
            </model>
            <model behaviour="block">
                <param name="content" value="('高 Height: ', @height, ' m')"/>
            </model>
            <model behaviour="webcomponent">
                <param name="name" value="'pb-geolocation'"/>
                <param name="latitude" value="tokenize(., '\s*,\s*')[2]"/>
                <param name="longitude" value="tokenize(., '\s*,\s*')[1]"/>
                <param name="content"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="province" mode="add"/>
                <elementSpec ident="format" mode="add">
                    <model behaviour="block">
            <param name="content" value="('形制 Format: ', label[@xml:lang='zh'], label[@xml:lang='en'])"/>
        </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>