resources/odd/stonesutras.odd

<?teipublisher output="web"?>
<TEI xmlns:pb="http://teipublisher.com/1.0" xmlns:mods="http://www.loc.gov/mods/v3" xmlns:cb="http://www.cbeta.org/ns/1.0" xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Buddhist Stonesutras in China</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="stonesutras.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2018-09-20+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
<schemaSpec source="teipublisher.odd">
    <title>Buddhist Stonesutras in China</title>
    <rendition source="stonesutras.css"/>

    <elementSpec ident="abbr" mode="change">
                    <model behaviour="inline" cssClass="abbr"/>
                </elementSpec>
    <elementSpec ident="app" mode="add">
                    <model predicate="$parameters?mode='synopsis' and rdg[starts-with(@wit, 'T_')]" behaviour="inline">
            <param name="content" value="lem"/>
            <outputRendition xml:space="preserve">
            border-bottom: 3px solid #fb3b3b;
            </outputRendition>
        </model>
                    <model predicate="$parameters?mode='synopsis'" behaviour="inline">
            <param name="content" value="lem"/>
        </model>
                    <modelSequence predicate="lem//text() and rdg[@type = 'textcritical']//text() and empty(rdg[@type = 'interpretative'])">
            <desc>Case 1.1, Lemma contains text, reading is type= textcritical and contains text</desc>
            <model predicate="lem" behaviour="inline" cssClass="lemma">
                <param name="content" value="lem"/>
            </model>
            <model behaviour="note">
                <param name="charNote" value="if (lem//hi[@rend='smaller'] and count(lem/*) = 1) then '小字' else ()"/>
                <param name="lem" value="lem"/>
                <param name="rdg" value="rdg"/>
                <pb:set-param name="quote" value="true()"/>
                <pb:set-param name="char" value="&#34;字&#34;"/>
                <pb:template xmlns="" xml:space="preserve"><span>[[charNote]]“[[lem]]”，《大正藏》本作[[rdg]]。</span></pb:template>
            </model>
        </modelSequence>
                    <modelSequence predicate="lem//text() and empty(rdg[@type = 'textcritical']//text()) and empty(rdg[@type = 'interpretative'])">
            <desc>Case 1.2, Lemma contains text, textcritical reading does not contain text</desc>
            <model predicate="lem" behaviour="inline" cssClass="lemma">
                <param name="content" value="lem"/>
            </model>
            <model behaviour="note">
                <param name="charNote" value="if (lem//hi[@rend='smaller'] and count(lem/*) = 1) then '小字' else ()"/>
                <param name="lem" value="lem"/>
                <param name="rdg" value="rdg"/>
                <pb:template xmlns="" xml:space="preserve">石刻本作[[charNote]]“[[lem]]”字，《大正藏》本此處無字[[rdg]]。</pb:template>
            </model>
        </modelSequence>
                    <modelSequence predicate="empty(lem//text()) and rdg[@type = 'textcritical']//text() and empty(rdg[@type = 'interpretative'])">
            <model behaviour="note" cssClass="lemma">
                <desc>Case 1.3, Lemma contains no text, textcritical reading does</desc>
                <param name="charNote" value="if (lem//hi[@rend='smaller'] and count(lem/*) = 1) then '小字' else ()"/>
                <param name="lem" value="lem"/>
                <param name="rdg" value="rdg"/>
                <pb:set-param name="char" value="'字'"/>
                <pb:set-param name="quote" value="true()"/>
                <pb:template xmlns="" xml:space="preserve"><span>《大正藏》本此處有[[rdg]]。</span></pb:template>
            </model>
        </modelSequence>
                    <modelSequence predicate="lem//text() and rdg[@type = 'interpretative']//text()">
            <desc>Case 2.1, Lemma contains text, interpretative reading as well</desc>
            <model predicate="lem" behaviour="inline" cssClass="lemma">
                <param name="content" value="lem"/>
            </model>
            <model behaviour="note">
                <param name="charNote" value="if (lem//hi[@rend='smaller'] and count(lem/*) = 1) then '小字' else ()"/>
                <param name="lem" value="lem"/>
                <param name="rdg" value="rdg"/>
                <pb:set-param name="char" value="'字'"/>
                <pb:set-param name="quote" value="true()"/>
                <pb:template xmlns="" xml:space="preserve"><span>他本作[[rdg]]。</span></pb:template>
            </model>
        </modelSequence>
                    <modelSequence predicate="lem//text() and empty(rdg[@type = 'interpretative']//text()) and empty(rdg[@type = 'textcritical'])">
            <desc>Case 2.2 Lemma contains text, interpretative reading does not contain text</desc>
            <model predicate="lem" behaviour="inline" cssClass="lemma">
                <param name="content" value="lem"/>
            </model>
            <model behaviour="note">
                <param name="charNote" value="if (lem//hi[@rend='smaller'] and count(lem/*) = 1) then '小字' else ()"/>
                <param name="lem" value="lem"/>
                <pb:set-param name="rdg" value="rdg"/>
                <pb:set-param name="quote" value="false()"/>
                <pb:template xmlns="" xml:space="preserve"><span>他本無“[[lem]]”字[[rdg]]。</span></pb:template>
            </model>
        </modelSequence>
                    <model predicate="empty(lem//text()) and exists(rdg[@type = 'interpretative']//text()) and empty(rdg[@type = 'textcritical'])" behaviour="note" cssClass="lemma">
            <desc>Case 2.3, Lemma contains no text, textcritical reading does contain text</desc>
            <param name="charNote" value="if (lem//hi[@rend='smaller'] and count(lem/*) = 1) then '小字' else ()"/>
            <param name="lem" value="lem"/>
            <param name="rdg" value="rdg"/>
            <pb:set-param name="quote" value="true()"/>
            <pb:set-param name="char" value="'字'"/>
            <pb:template xmlns="" xml:space="preserve"><span>他本多[[rdg]]。</span></pb:template>
        </model>
                    <modelSequence predicate="lem//text() and rdg[@type = 'textcritical']//text() and rdg[@type = 'interpretative']//text()">
            <desc>Case 3.2</desc>
            <model predicate="lem" behaviour="inline" cssClass="lemma">
                <param name="content" value="lem"/>
            </model>
            <model behaviour="note">
                <param name="charNote" value="if (lem//hi[@rend='smaller'] and count(lem/*) = 1) then '小字' else ()"/>
                <param name="lem" value="lem"/>
                <param name="rdgCrit" value="rdg[@type='textcritical']"/>
                <param name="rdgInt" value="rdg[@type='interpretative']"/>
                <pb:set-param name="char" value="'字'"/>
                <pb:set-param name="quote" value="true()"/>
                <pb:template xmlns="" xml:space="preserve"><span>《大正藏》本作：[[rdgCrit]]字。他本作[[rdgInt]]。</span></pb:template>
            </model>
        </modelSequence>
                    <modelSequence>
            <model predicate="lem" behaviour="inline" cssClass="lemma">
                <param name="content" value="lem"/>
            </model>
            <model behaviour="note">
                <param name="content" value="rdg"/>
            </model>
        </modelSequence>
                </elementSpec>
    <elementSpec ident="cb:div" mode="add">
                    <model behaviour="section"/>
                </elementSpec>
    <elementSpec ident="choice" mode="change">
                    <modelSequence predicate="unclear/@cert">
            <model behaviour="inline">
                <param name="content" value="unclear[@cert = max(../unclear/@cert)]/node()"/>
                <outputRendition xml:space="preserve">
                color: #FF1111;
                </outputRendition>
            </model>
            <model behaviour="note">
                <param name="content" value="('此字漫漶，他本作', unclear[@resp and @cert &lt; 0.5])"/>
            </model>
        </modelSequence>
                    <model predicate="unclear/@cert" behaviour="alternate">
            <param name="default" value="unclear[@cert = max(../unclear/@cert)]"/>
            <param name="alternate" value="('此字漫漶，他本作', unclear)"/>
        </model>
                </elementSpec>
    <elementSpec ident="div" mode="change">
                    <model predicate="$parameters?mode='subtitle'" behaviour="inline">
            <desc>for the breadcrumb</desc>
            <param name="subtitle" value="head[@type='subtitle']"/>
            <pb:template xmlns="" xml:space="preserve"><span class="breadcrumbs">[[subtitle]]</span>
</pb:template>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model>
                    <model predicate="$parameters?mode='toc' and parent::body" behaviour="block" cssClass="toc">
            <param name="content" value="./div"/>
            <outputRendition xml:space="preserve">
            position: fixed;
top: 120px;
left: 20px;
width: 200px;
font-size: 14px;
height: auto;
overflow-y: auto;
padding: 20px;
flex: none;
            </outputRendition>
        </model>
                    <model predicate="$parameters?mode='toc'" behaviour="block" cssClass="toc">
            <param name="content" value="(./head, ./div)"/>
        </model>
                    <model predicate="@type='title_page'" behaviour="block">
            <outputRendition xml:space="preserve">
            border: 1px solid black; padding: 5px;
            </outputRendition>
        </model>
                    <model predicate="@xml:lang" behaviour="pass-through">
            <param name="lang" value="@xml:lang"/>
            <param name="class" value="if (starts-with($parameters?root//text/@xml:id, 'Site_')) then 'site' else ()"/>
            <pb:template xmlns="" xml:space="preserve"><div lang="[[lang]]" class="[[class]]">[[content]]</div></pb:template>
        </model>
                    <model behaviour="pass-through">
            <param name="id" value="generate-id(.)"/>
            <pb:template xmlns="" xml:space="preserve"><div id="[[id]]">[[content]]</div></pb:template>
        </model>
                </elementSpec>
    <elementSpec ident="figure" mode="change">
                    <model behaviour="omit">
            <param name="content" value="graphic"/>
            <param name="figno" value="count(preceding::figure) + 1"/>
            <pb:template xmlns="" xml:space="preserve"><span class="illustration" data-figno="[[figno]]">[[content]]</span></pb:template>
        </model>
                    <model behaviour="pass-through">
            <param name="title" value="(head[@xml:lang='zh'], head[not(@xml:lang='zh')])"/>
            <param name="content" value="graphic"/>
            <param name="id" value="@xml:id"/>
            <param name="fignum" value="count(preceding::figure) + 1"/>
            <pb:template xmlns="" xml:space="preserve"><figure id="[[id]]">
  <figcaption class="fignum">[[fignum]]</figcaption>
  [[content]]
  <figcaption>[[title]]</figcaption>
</figure></pb:template>
        </model>
                </elementSpec>
    <elementSpec ident="foreign" mode="change">
                    <model behaviour="pass-through">
            <param name="lang" value="@xml:lang"/>
            <pb:template xmlns="" xml:space="preserve"><span lang="[[lang]]">[[content]]</span></pb:template>
        </model>
                </elementSpec>
    <elementSpec ident="g" mode="change">
                    <model predicate="not(text())" behaviour="glyph">
            <param name="uri" value="@ref"/>
        </model>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            color: var(--bss-color-red);
            </outputRendition>
        </model>
                </elementSpec>
    <elementSpec ident="graphic" mode="change">
                    <model behaviour="graphic">
            <param name="url" value="'https://sutras.adw.uni-heidelberg.de/images/' || replace(@url, '^(.*)\.[^\.]+$', '$1.jpg')"/>
            <param name="width" value="@width"/>
            <param name="height" value="@height"/>
            <param name="scale" value="@scale"/>
            <param name="title" value="desc"/>
        </model>
                </elementSpec>
    <elementSpec ident="head" mode="change">
                    <model predicate="$parameters?mode = 'toc' and parent::div and parent::div[parent::div[parent::div[parent::div]]]" behaviour="heading">
            <desc>for the (third-level) subtitles of TOC</desc>
            <param name="id" value="generate-id(parent::div)"/>
            <param name="level" value="count(ancestor::div) + 1"/>
            <pb:template xmlns="" xml:space="preserve"><pb-link hash="[[id]]" emit="transcription">[[content]]</pb-link></pb:template>
            <outputRendition xml:space="preserve">
            padding-left: 4em;  font-weight: normal;
            </outputRendition>
        </model>
                    <model predicate="$parameters?mode = 'toc' and parent::div and parent::div[parent::div[parent::div]]" behaviour="heading">
            <desc>for the (second-level) subtitles of TOC</desc>
            <param name="id" value="generate-id(parent::div)"/>
            <param name="level" value="count(ancestor::div) + 1"/>
            <pb:template xmlns="" xml:space="preserve"><pb-link hash="[[id]]" emit="transcription">[[content]]</pb-link></pb:template>
            <outputRendition xml:space="preserve">
            padding-left: 2em;  font-weight: normal;
            </outputRendition>
        </model>
                    <model predicate="$parameters?mode = 'toc'" behaviour="heading">
            <param name="id" value="generate-id(parent::div)"/>
            <param name="level" value="count(ancestor::div) + 1"/>
            <pb:template xmlns="" xml:space="preserve"><pb-link hash="[[id]]" emit="transcription">[[content]]</pb-link></pb:template>
        </model>
                    <model predicate="$parameters?mode='subtitle' and parent::div" behaviour="inline">
            <desc>for the breadcrumb</desc>
            <outputRendition xml:space="preserve">
            null
            </outputRendition>
        </model>
                    <model predicate="$parameters?mode='articles'" behaviour="heading">
            <param name="level" value="3"/>
        </model>
                    <model predicate="$parameters?header='short'" behaviour="inline">
            <param name="content" value="replace(string-join(.//text()[not(parent::ref)]), '^(.*?)[^\w]*$', '$1')"/>
        </model>
                    <model predicate="parent::figure and @xml:lang='zh'" behaviour="pass-through">
            <pb:template xmlns="" xml:space="preserve"><div lang="zh">[[content]]</div></pb:template>
        </model>
                    <model predicate="parent::figure" behaviour="pass-through">
            <pb:template xmlns="" xml:space="preserve"><div lang="en">[[content]]</div></pb:template>
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::table" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::lg" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::list" behaviour="block">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model predicate="parent::div and @type='nonrepeat'" behaviour="heading">
            <desc>Subtitle should be level 2 heading in gold</desc>
            <param name="level" value="2"/>
            <outputRendition xml:space="preserve">
            color: #a69933;
            </outputRendition>
        </model>
                    <model predicate="parent::div and @type='author'" behaviour="heading" cssClass="author">
            <param name="level" value="2"/>
        </model>
                    <model predicate="parent::div and .//foreign" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
            <param name="content" value="text()"/>
            <param name="foreign" value="foreign"/>
            <pb:template xmlns="" xml:space="preserve"><span>[[content]]　[[foreign]]</span></pb:template>
            <outputRendition xml:space="preserve">
            color: #a69933;
            </outputRendition>
        </model>
                    <model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
            <outputRendition xml:space="preserve">
            color: #a69933;
            </outputRendition>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
    <elementSpec ident="hi" mode="change">
                    <model predicate="@rend='nh'" behaviour="inline">
            <outputRendition xml:space="preserve">
            hyphens: none;
            </outputRendition>
        </model>
                    <model predicate="@rendition" behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="@rend='bold'" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model predicate="@rend='smaller'" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-size: .85em;
            </outputRendition>
        </model>
                    <model predicate="not(@rendition)" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
    <elementSpec ident="lb" mode="change">
                    <modelSequence predicate="@ed='T'">
            <model behaviour="pass-through">
                <param name="n" value="@n"/>
                <param name="link" value="replace(@n, '^(T[^_]+)_(.*)$', '$1_p$2')"/>
                <pb:template xmlns="" xml:space="preserve"><pb-popover class="cblb"><a slot="default" target="_blank" href="https://cbetaonline.dila.edu.tw/zh/[[link]]">|</a><template slot="alternate">[[n]]</template></pb-popover></pb:template>
            </model>
            <model behaviour="inline">
                <param name="content" value="@n"/>
                <pb:template xmlns="" xml:space="preserve"><span data-taisho="[[content]]" class="cbeta"/></pb:template>
            </model>
        </modelSequence>
                    <model behaviour="inline" useSourceRendition="true">
            <param name="content" value="('/', @n, '/')"/>
            <outputRendition xml:space="preserve">
            color: var(--bss-color-gold);
padding-left: .5em;
padding-right: .5em;
            </outputRendition>
        </model>
                </elementSpec>
    <elementSpec ident="lem" mode="add">
                    <model output="web" behaviour="text">
            <param name="content" value="es:fix-punctuation(.)"/>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
    <elementSpec ident="mods:titleInfo" mode="add">
                    <model behaviour="pass-through">
            <param name="content" value="mods:title[1]/string()"/>
            <pb:template xmlns="" xml:space="preserve"><span class="titleInfo" lang="en">[[content]]</span></pb:template>
        </model>
                </elementSpec>
    <elementSpec ident="note" mode="change">
                    <model predicate="ancestor::back" behaviour="inline"/>
                    <model predicate="@type!='display'" behaviour="omit"/>
                    <model behaviour="note"/>
                </elementSpec>
    <elementSpec ident="ptr" mode="change">
                    <model predicate="starts-with(@target, 'note_') and id(@target, root($parameters?root))[@type='display']" behaviour="note">
            <param name="content" value="id(@target, root($parameters?root))"/>
        </model>
                    <model predicate="starts-with(@target, 'note_')" behaviour="omit"/>
                    <model predicate="@type=('infra', 'footnote', 'infrafootnote', 'infrafootnote_zh')" behaviour="pass-through">
            <param name="target" value="@target"/>
            <pb:template xmlns="" xml:space="preserve"><pb-link xml-id="[[target]]">📚</pb-link></pb:template>
        </model>
                    <model predicate="id(@target, root($parameters?root))" behaviour="pass-through">
            <param name="figno" value="count(id(@target, root($parameters?root))/preceding::figure) + 1"/>
            <param name="img" value="'https://sutras.adw.uni-heidelberg.de/images/' || replace(@target, '^(.*)\.[^\.]+$', '$1.jpg')"/>
            <param name="caption" value="let $figure := id(@target, root($parameters?root)) return   if ($parameters?language = 'zh_Hant') then     $figure/head[@xml:lang='zh']   else     $figure/head[not(@xml:lang='zh')]"/>
            <pb:template xmlns="" xml:space="preserve"><span>[[figno]]</span>
<span class="illustration" data-figno="[[figno]]">
  <pb-popover>
    <a href="[[img]]" class="lightbox">
      <img src="[[img]]"/>
    </a>
    <template slot="alternate">[[caption]]</template>
  </pb-popover>
</span></pb:template>
        </model>
                    <model behaviour="omit"/>
                </elementSpec>
    <elementSpec ident="quote" mode="change">
                    <model predicate="ancestor::p" behaviour="inline" useSourceRendition="true">
            <desc>If it is inside a paragraph then it is inline, otherwise it is block
                  level</desc>
            <outputRendition xml:space="preserve">
            font-family: var(--bss-serif-font-family);
            </outputRendition>
        </model>
                    <model behaviour="paragraph" useSourceRendition="true">
            <desc>If it is inside a paragraph then it is inline, otherwise it is block
                  level</desc>
            <outputRendition xml:space="preserve">
            
            
            
            margin-left: 1em; 
font-family: var(--bss-serif-font-family);
            
            
            
            </outputRendition>
        </model>
                </elementSpec>
    <elementSpec ident="rdg" mode="add">
                    <model predicate="$parameters?quote" behaviour="pass-through">
            <param name="char" value="$parameters?char"/>
            <param name="witnesses" value="for $sigil in tokenize(./@wit, '[,\s]+') return   root($parameters?root)//witList/witness[@sigil=$sigil]"/>
            <pb:set-param name="lb" value="let $prev := preceding::lb[@ed='T'][1] return replace($prev/@n, '^(T[^_]+)_(.*)$', '$1_p$2')"/>
            <pb:template xmlns="" xml:space="preserve"><span class="rdg" lang="en">“[[content]]”[[char]]([[witnesses]])</span></pb:template>
        </model>
                    <model behaviour="pass-through">
            <param name="char" value="$parameters?char"/>
            <pb:set-param name="lb" value="let $prev := preceding::lb[@ed='T'][1] return replace($prev/@n, '^(T[^_]+)_(.*)$', '$1_p$2')"/>
            <pb:template xmlns="" xml:space="preserve"><span class="rdg" lang="en">[[content]][[char]]</span></pb:template>
        </model>
                </elementSpec>
    <elementSpec ident="ref" mode="change">
                    <model predicate="@type='biblio' and preceding-sibling::node()[1][self::ref]" behaviour="inline" cssClass="biblio-ref">
            <param name="content" value="let $target := @target  let $title := collection($global:data-root || '/biblio')/mods:mods[@ID = $target]/mods:titleInfo[@type = 'reference'] return   if ($title) then $title else 'NOT FOUND'"/>
            <param name="target" value="@target"/>
            <pb:template xmlns="" xml:space="preserve"><pb-popover remote="https://sutras.adw.uni-heidelberg.de/exist/apps/stonepub/modules/bibliohtml.xql?id=[[target]]"><span class="sigle">[[content]]</span></pb-popover></pb:template>
            <outputRendition xml:space="preserve">
            font-variant: small-caps;
            </outputRendition>
            <outputRendition xml:space="preserve" scope="before">
            content: ', ';
            </outputRendition>
        </model>
                    <model predicate="@type='biblio' and not(text())" behaviour="inline" cssClass="biblio-ref">
            <desc>Output bibl reference without enclosed text</desc>
            <param name="content" value="let $target := @target   let $title := collection($global:data-root || '/biblio')/mods:mods[@ID = $target]/mods:titleInfo[@type = 'reference']  return    if ($title) then $title else 'NOT FOUND'"/>
            <param name="target" value="@target"/>
            <pb:template xmlns="" xml:space="preserve"><pb-popover remote="https://sutras.adw.uni-heidelberg.de/exist/apps/stonepub/modules/bibliohtml.xql?id=[[target]]"><span class="sigle">[[content]]</span></pb-popover></pb:template>
            <outputRendition xml:space="preserve">
            font-variant: small-caps;
            </outputRendition>
        </model>
                    <model predicate="@type='biblio'" behaviour="inline" cssClass="biblio-ref">
            <param name="content" value="let $target := @target   let $title := collection($global:data-root || '/biblio')/mods:mods[@ID = $target]/mods:titleInfo[@type = 'reference']  return    if ($title) then $title else 'NOT FOUND'"/>
            <param name="target" value="@target"/>
            <param name="text" value="."/>
            <pb:template xmlns="" xml:space="preserve"><pb-popover remote="https://sutras.adw.uni-heidelberg.de/exist/apps/stonepub/modules/bibliohtml.xql?id=[[target]]"><span class="sigle">[[content]], [[text]]</span></pb-popover></pb:template>
            <outputRendition xml:space="preserve">
            font-variant: small-caps;
            </outputRendition>
        </model>
                </elementSpec>
    <elementSpec ident="seg" mode="change">
                    <model predicate="@rend" behaviour="inline"/>
                    <model behaviour="webcomponent" useSourceRendition="true">
            <param name="name" value="'pb-highlight'"/>
            <param name="key" value="substring-after(@n, '.')"/>
            <param name="highlight-self" value="true()"/>
        </model>
                </elementSpec>
    <elementSpec ident="supplied" mode="change">
                    <model predicate="parent::title" behaviour="inline"/>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            color: #C0C0C0;
            </outputRendition>
        </model>
                </elementSpec>
    <elementSpec ident="text" mode="change">
                    <model behaviour="body"/>
                </elementSpec>
    <elementSpec ident="text()" mode="add">
                    <model predicate="$parameters?mode='synoptic'" behaviour="wrap-text"/>
                    <model behaviour="text"/>
                </elementSpec>
    <elementSpec ident="title" mode="change">
                    <model predicate="$parameters?header='short'" behaviour="heading">
            <param name="level" value="5"/>
        </model>
                    <modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="preceding-sibling::title" behaviour="text">
                <param name="content" value="' — '"/>
            </model>
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-weight: bold;
                </outputRendition>
            </model>
        </modelSequence>
                    <model predicate="@type='scroll'" behaviour="inline">
            <outputRendition xml:space="preserve">
            color: var(--bss-color-scroll) !important;
            </outputRendition>
        </model>
                    <model predicate="@type='chapter'" behaviour="inline">
            <outputRendition xml:space="preserve">
            color: var(--bss-color-title) !important;
            </outputRendition>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
    <elementSpec ident="unclear" mode="change">
                    <model predicate="@cert &lt; 0.5 and @resp and following-sibling::unclear[@cert &lt; 0.5][@resp]" behaviour="inline">
            <outputRendition xml:space="preserve" scope="before">
            content: '“';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: '”字;';
            </outputRendition>
        </model>
                    <model predicate="@cert &lt; 0.5 and @resp" behaviour="inline">
            <outputRendition xml:space="preserve" scope="before">
            content: '“';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: '”字';
            </outputRendition>
        </model>
                </elementSpec>
    <elementSpec ident="witDetail" mode="add">
                    <model predicate="matches(parent::witness/@sigil, '^[rR].*')" behaviour="pass-through">
            <param name="content" value="('see figure ', let $figure := id(@target, root($parameters?root)) return   count($figure/preceding::figure) + 1 )"/>
            <param name="uri" value="'#' || @target"/>
            <pb:template xmlns="" xml:space="preserve"><span lang="en">[[content]]</span></pb:template>
        </model>
                    <model predicate="text()" behaviour="inline" cssClass="witDetail"/>
                    <model behaviour="inline"/>
                </elementSpec>
    <elementSpec ident="witness" mode="add">
                    <model predicate="matches(@sigil, &#34;^[rR].*&#34;)" behaviour="inline" cssClass="witness"/>
                    <model predicate="matches(@sigil, '^T_?\d+.*$') and $parameters?lb != ''" behaviour="pass-through">
            <param name="ref" value="let $target := ./witDetail/@target/string()  let $mods := collection($global:data-root || '/biblio')/mods:mods[@ID = $target]  return   $mods/mods:titleInfo[@type = 'reference']"/>
            <param name="uri" value="$parameters?lb"/>
            <pb:template xmlns="" xml:space="preserve"><a href="https://cbetaonline.dila.edu.tw/zh/[[uri]]" class="witness" target="_blank">[[ref]][[content]]</a></pb:template>
        </model>
                    <model predicate="matches(@sigil, '^T_?\d+.*$')" behaviour="pass-through">
            <param name="ref" value="let $target := ./witDetail/@target/string()  let $mods := collection($global:data-root || '/biblio')/mods:mods[@ID = $target]  return   $mods/mods:titleInfo[@type = 'reference']"/>
            <pb:template xmlns="" xml:space="preserve"><span class="witness">[[ref]][[content]]</span></pb:template>
        </model>
                    <model behaviour="pass-through">
            <param name="ref" value="let $target := ./witDetail/@target/string()  let $mods := collection($global:data-root || '/biblio')/mods:mods[@ID = $target]  return   $mods/mods:titleInfo[@type = 'reference']"/>
            <param name="target" value="./witDetail/@target/string()"/>
            <pb:template xmlns="" xml:space="preserve"><pb-popover class="witness" remote="https://sutras.adw.uni-heidelberg.de/exist/apps/stonepub/modules/bibliohtml.xql?id=[[target]]"><span>[[ref]][[content]]</span></pb-popover></pb:template>
        </model>
                </elementSpec>
<elementSpec ident="TEI" mode="change"/>
            </schemaSpec>
        </body>
    </text>
</TEI>